doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="css/flaticon.css")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    title Oleksandr Tykhonruk
  body
    section
      h1 Alexander Tihonruk
      p
        span.icon.flaticon-document6
        a(href="OleksandrTykhonruk.en.html") resume
      p
        span.icon.flaticon-linkedin
        a(href="http://ua.linkedin.com/in/tihonruk") atihonruk
      p
        span.icon.flaticon-facebook2
        a(href="https://facebook.com/atihonruk") atihonruk
      p
        span.icon.flaticon-twitter
        a(href="https://twitter.com/atihonruk") @atihonruk
      p
        span.icon.flaticon-instagram19
        a(href="https://instagram.com/atihonruk/") @atihonruk
