doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="css/flaticon.css")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    title Oleksandr Tykhonruk
  body
    header
      h1 Oleksandr Tykhonruk
      h3.headline Software engineer, trainer, mentor.
    section
      p
        a(href="OleksandrTykhonruk.en.html") Resume
      br
      br
      br
    footer
      p
        a(href="http://ua.linkedin.com/in/otykhonruk")
          span.icon.flaticon-linkedin

        a(href="https://facebook.com/oleksandr.tykhonruk")
          span.icon.flaticon-facebook2

        a(href="https://twitter.com/otykhonruk")
          span.icon.flaticon-twitter

        a(href="https://instagram.com/otykhonruk/")
          span.icon.flaticon-instagram19
